<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.richfit.sdk_wzys">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".camera.TakephotoActivity"/>
    </application>

</manifest>
